html,body {
    background-color: #e53935;
    margin: 0;
}

.index__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.index__title {
    color: white;
    font-size: 3em;
    margin: 0;
}

.index__link {
    color: white;
    text-decoration: none;
}

.index__link:hover {
    text-decoration: underline;
}

.index__code {
    color: white;
    font-size: 1.5em;
}